body {
  margin: 0 !important;
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: #F0EFEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width:100%;
  max-width: 500px;
  padding: 15px;

}

.h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  color: #4C4C4A;
  text-align: center;
}

.b1 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4C4C4A;
  /* text-align: center; */
}
